# Copy to qa-auto.cfg next to DecalQaRunner.dll (same folder as the plugin DLL in Decal).

runOnLogin=false
loginDelayMs=8000

spawnGems=true
spawnCount=10

runPrepGem=true
gemFragment=garnet
equipFragment=bracelet

runServerSuites=true
msAfterSpawnBeforePrep=3500
msAfterPrepStartBeforeRunAll=22000
